*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

body{
	background-color: #0079BF;
}

#logo{
	height: 5vh;
}

#navbar{
	background-color: #0067A3 !important;
}

li > form > .input-field input[type=search] {
    display: inline-block;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hiden{
	display: none;
}
.columna{
	height: auto;
	display: inline-block;
	vertical-align: text-top;
}
#content-tabla{
	white-space: nowrap;
}

.bloque{
	display: block;
}